<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Welcome to Secretic</h1>
    <h2 class="home">The most secret app of them all.</h2>
    <%= link_to "Login with Github", "/auth/github", class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
